body{
    margin: 0;
}

html, body, .basic {
    height: 100%;
    width: 100%;
}


.basic {
    display: flex;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainHeader {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header div {
    margin: 10px;
    margin-left: 65px;
}

.textRead, .textRecentBlog {
    margin-block-start: 0;
    margin-block-end: 0;
}

.textRead {
    color: lightgray;
}

.textRecentBlog {
    font: bold 40px serif;
}

.mainContent {
    display: flex;
    align-items: center;    
    justify-content: space-around;
}

.articleImage {
    height: 480px;
    width: 270px;
}

.aside{
    background-color: #ECE4DA;
    height: 100vh;
}

.asideHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}

.asideNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    margin-block-start: 0;
    margin-block-end: 0;
}

.image {
    margin: 20px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.asideFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    padding: 8px;
}

.name {
    padding: 8px;
    font: bold italic 25px serif;
}

li {
    padding: 8px;
    list-style-type: none;
}

ul {
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: black;
}