body{
    margin: 0;
}


.basic {
    display: flex;
}

.aside{
    background-color: #ECE4DA;
    height: 100%;
    position: absolute;
}

.aside--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}

.aside--navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.image {
    margin: 20px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.aside--footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    padding: 8px;
}

.name {
    padding: 8px;
    font: bold italic 25px serif;
}

li {
    padding: 8px;
    list-style-type: none;
}

ul {
    padding-inline-start: 0;
}